<header class="c-header header">
    <div class="l-restrictor">
        <div class="header_logo">
            <img src="static/img/general/frontendblog-logo.svg" alt="frontend blog" class="header_logo-img">
        </div>

        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list_item">
                  <a href="#" class="header-nav-list_link">Home</a>
                <li class="header-nav-list_item">
                  <a href="#" class="header-nav-list_link">Some 1</a>
                <li class="header-nav-list_item">
                  <a href="#" class="header-nav-list_link">Some 2</a>
            </ul>
        </nav>
    </div>
</header>
