.l-restrictor {@include outer-container();}

.header {background:#ffffff;padding:10px 0;}
.header_logo {@include span-columns(4);}
.header-nav {
    @include span-columns(8);
    display: none;
}
.header-nav-list {
  display: flex;
  list-style:none;
}
.header-nav-list_item {
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}
