<li class="blog-list_item">
    <header class="blog-header">
        <h2 class="blog-header_title">Все, что вы хотели знать о favicons, touch icons, tile icons.</h2>
        <div class="blog-header_date">25.07.2016</div>
    </header>
    <div class="blog-content">
        <img class="blog-content_pic-intro" src="./static/img/general/post-favicons/post-favicons-intro.jpg" alt="favicons">
        <h2>Что такое favicon?</h2>
        <p>Favicon это небольшое графическое изображение, которое ассоциируется с веб-сайтом или веб-приложением. Впервые favicons появились в IE5, после чего эту идею подхватили другие браузеры.</p>
        <p>Многие годы основным файлом для favicon'а был <span class="emphasize">favicon.ico</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, recusandae, asperiores. Expedita quis, maiores, delectus dolorem esse illo accusantium reprehenderit cum, animi tenetur distinctio numquam eius libero soluta? Veritatis, eaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error excepturi eveniet, est magnam vitae dolorem consequuntur, nesciunt alias, ducimus aliquam corporis dolores perspiciatis voluptatem magni laudantium officia, ea velit culpa!</p>
        <pre><code class="html">&lt;h1&gt;fdfdf&lt;/h1&gt;<br>{test: object}</code></pre>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, recusandae, asperiores. Expedita quis, maiores, delectus dolorem esse illo accusantium reprehenderit cum, animi tenetur distinctio numquam eius libero soluta? Veritatis, eaque.</p>
    </div>

</li>
